
.board button, .players button{
  width: 70px;
  height: 70px;
  margin: 1px;
  background-color: rgb(189, 189, 189);
  border-radius: 50%;
  border: 2px solid black;
}

h1{
  color: orange;

}

h4{
  color: orange;

}
